<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="s180475.android1.hioa"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hm7"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="s180475.android1.hioa.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="s180475.android1.hioa.Spilleregler"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="s180475.android1.hioa.SpillActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>